@tailwind base;
@tailwind components;
@tailwind utilities;

.face-hidden {
    backface-visibility: hidden
}

.rotateX-180 {
    transform: rotateY(180deg)
}

.preserve-3d {
    transform-style: preserve-3d;
}

.perspective {
    perspective: 1000px;
}

.flipped {
    transform: rotateY(180deg);
}

/* ------------------------------------------------------------------------------------------------------- */

.card-container {
    @apply flex relative w-[95%] h-[25%] md:w-[80%] shadow-2xl md:h-1/3 xl:w-[80%] xl:h-1/2 preserve-3d transition-all duration-1000;
}

.card-sides {
    @apply absolute w-full h-full rounded-lg face-hidden;
}

.card-bg {
    @apply bg-gradient-to-t from-yellow-500 via-amber-600 to-orange-700;
}

.card-front {
    @apply relative flex flex-col justify-evenly card-sides card-bg;
}

.card-back {
    @apply card-sides card-bg rotateX-180;
}

.card-number {
    @apply bg-transparent border-[1px] border-black/20 rounded-lg w-[95%] font-['bungee'] text-2xl md:text-5xl placeholder:text-black font-bold text-center;
}

.saved-card-numbers {
    @apply absolute left-2 bg-gradient-to-r from-yellow-500 via-amber-600 to-orange-700 border-[1px] border-black/20 rounded-lg w-[95%] font-['bungee'] text-2xl md:text-5xl placeholder:text-black font-bold text-center;
}

@font-face {
    font-family: 'bungee';
    src: url(../fonts/BungeeOutline-Regular.ttf);
}

@font-face {
    font-family: 'Oxanium';
    src: url(../fonts/Oxanium-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'Nabla';
    src: url(../fonts/Nabla-Regular-VariableFont_EDPT\,EHLT.ttf);
}




.CreateCssForDom {
    @apply -top-8 -top-24 -top-32 -top-16
}